.idea/
.idea
.vscode/
.vscode
.gradle/
build/
local.properties
*.iml
*.ipr
*.iws
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
*.egg
*.pyo
*.db
*.sqlite3
*.sqlite
*.log
*.bak
*.swp
*.swo
*.pyc
*.pyd
*.pyde
*.pyw
*.pyt
*.pyz
*.pyi
node_modules/
node_modules
test/
test